# Import Libraries

In [1]:
import pandas as pd

# Obtain Data

Read csv with data into pandas

In [8]:
df = pd.read_excel('Data/Beer_Tastings.xlsx')
df.head()

,Company Name,Beer Type,Beer Name,Location,Beer Slug Name,Aaron Feuer,Alan Eng,Alejandro Torres,Alexa Dosik,Alexander Castleton,...,Unnamed: 303,Unnamed: 304,Unnamed: 305,Unnamed: 306,Unnamed: 307,Unnamed: 308,Unnamed: 309,Unnamed: 310,Unnamed: 311,Unnamed: 312
0,Einstök Ölgerð,Wheat Beer - Witbier,Icelandic White Ale,"Akureyri, Iceland",einstok-olgerd-icelandic-white-ale,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tröegs Independent Brewing,Pilsner - German,Sunshine Pils,"Hershey, PA",troegs-independent-brewing-sunshine-pils,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Goose Island Beer Co.,Wheat Beer - American Pale Wheat,312 Urban Wheat Ale,"Chicago, IL",goose-island-beer-co-312-urban-wheat-ale,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Victory Brewing Company,Pilsner - German,Prima Pils,"Downingtown, PA",victory-brewing-company-prima-pils,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Victory Brewing Company,Golden Ale,Summer Love,"Downingtown, PA",victory-brewing-company-summer-love,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Scrub data

Drop all columns lacking data

In [17]:
df.dropna(axis=1, how='all', inplace=True)
print(df.shape)
df.head()

(1015, 169)

,Company Name,Beer Type,Beer Name,Location,Beer Slug Name,Aaron Feuer,Alan Eng,Alejandro Torres,Alexa Dosik,Alexander Castleton,...,Yuri Malitsky,Zach Rosskamm,Avg. Rating,Untapped Rating,Standard Deviation,Alcohol Content,IBU,Comments,Untappd Id,Last Updated
0,Einstök Ölgerð,Wheat Beer - Witbier,Icelandic White Ale,"Akureyri, Iceland",einstok-olgerd-icelandic-white-ale,...,...,...,...,...,...,...,...,0.735714,0.736046,2.154729,0.052,0.0,"Light, Summery, Hint of Limoncillo Smell, Subt...",103773,1.627409e+12
1,Tröegs Independent Brewing,Pilsner - German,Sunshine Pils,"Hershey, PA",troegs-independent-brewing-sunshine-pils,...,...,...,...,...,...,...,...,0.670000,0.688176,0.447214,0.045,45.0,Sweet at the back of the tongue but bitter / s...,3841,1.627409e+12
2,Goose Island Beer Co.,Wheat Beer - American Pale Wheat,312 Urban Wheat Ale,"Chicago, IL",goose-island-beer-co-312-urban-wheat-ale,...,...,...,...,...,...,...,...,0.660000,0.686472,1.816590,0.042,18.0,"Solid mellow note, lack of distinct flavor, in...",5925,1.627409e+12
3,Victory Brewing Company,Pilsner - German,Prima Pils,"Downingtown, PA",victory-brewing-company-prima-pils,...,...,...,...,...,...,...,...,0.680000,0.690824,1.788854,0.053,43.0,"Mellow peach notes, hoppy, bitter after taste",3820,1.627409e+12
4,Victory Brewing Company,Golden Ale,Summer Love,"Downingtown, PA",victory-brewing-company-summer-love,...,...,...,...,...,...,...,...,0.594444,0.69069,2.098280,0.052,25.0,"Really bitter, especially for a summer ale,",18545,1.627409e+12

Use df.info() to determine what further scrubbing needed

In [21]:
df.iloc[:, 0:100].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 100 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company Name         821 non-null    object
 1   Beer Type            818 non-null    object
 2   Beer Name            818 non-null    object
 3   Location             818 non-null    object
 4   Beer Slug Name       816 non-null    object
 5   Aaron Feuer          821 non-null    object
 6   Alan Eng             821 non-null    object
 7   Alejandro Torres     821 non-null    object
 8   Alexa Dosik          821 non-null    object
 9   Alexander Castleton  821 non-null    object
 10  Alexis               821 non-null    object
 11  Alla Uts             821 non-null    object
 12  Allie Mandeville     821 non-null    object
 13  Alyssa Kaganer       821 non-null    object
 14  Amanda Trakhtenberg  821 non-null    object
 15  Amar Ramroop         821 non-null    object
 16  Andrew Bernstein     821 non-null    object
 17  Andy Tran            821 non-null    object
 18  Ankush Chadha        821 non-null    object
 19  Anna                 821 non-null    object
 20  Asad Ahmed           821 non-null    object
 21  Ashley Kupferberg    821 non-null    object
 22  Becca Zhou           821 non-null    object
 23  Becky Kason          821 non-null    object
 24  Brent Daniels        821 non-null    object
 25  Brian Abrams         821 non-null    object
 26  Brian Kupferberg     821 non-null    object
 27  Bryan Bardales       821 non-null    object
 28  Camille Newton       821 non-null    object
 29  Carrie Marino        821 non-null    object
 30  Casey Sumner         821 non-null    object
 31  Cipora Reichman      821 non-null    object
 32  Chris                821 non-null    object
 33  Chris Marino         821 non-null    object
 34  Cyndi Chen           821 non-null    object
 35  Dan Adeyanju         821 non-null    object
 36  Daniel Berenson      821 non-null    object
 37  Danielle Waldman     821 non-null    object
 38  Darren Apostolik     821 non-null    object
 39  Dave Hu              821 non-null    object
 40  David Raleche        821 non-null    object
 41  David Yang           821 non-null    object
 42  Deandra Tan          821 non-null    object
 43  Diana                821 non-null    object
 44  Dillon Shokar        821 non-null    object
 45  Dominic Eggerman     821 non-null    object
 46  Dong Won Lee         821 non-null    object
 47  Dori Rhode           821 non-null    object
 48  Eian Katz            821 non-null    object
 49  Eileen Jang          821 non-null    object
 50  Eli Markham          821 non-null    object
 51  Ellen                821 non-null    object
 52  Ethan Zien           821 non-null    object
 53  Eugene Mershon       821 non-null    object
 54  Fabian Biot          821 non-null    object
 55  François Charest     821 non-null    object
 56  Garvin Chen          821 non-null    object
 57  Gordon MacDonald     821 non-null    object
 58  Harry                821 non-null    object
 59  Heidi                821 non-null    object
 60  Henry                821 non-null    object
 61  Hayley Brander       821 non-null    object
 62  Ijlal Hyder          821 non-null    object
 63  Ilya Uts             821 non-null    object
 64  Irina Anta           821 non-null    object
 65  Iris Braunstein      821 non-null    object
 66  Ismail               821 non-null    object
 67  Ivan Yanev           821 non-null    object
 68  Jake Zhang           821 non-null    object
 69  Jake Amatruda        821 non-null    object
 70  Jake Reichman        821 non-null    object
 71  Jamie Freiman        821 non-null    object
 72  Jamie Morris         821 non-null    object
 73  Jason                821 non-null    object
 74  Janni                821 non-null    object
 75  Jason Kuo            821 non-null    object
 76  Jared Bass           821 non-null    object
 77  Jared Helfand        821 non-null    object
 78  Jenn Kim             821 non-null    object
 79  Jenn Shim            821 non-null    object
 80  Jennifer Kong        821 non-null    object
 81  Jenny Kessman        821 non-null    object
 82  Jensen Matlock       821 non-null    object
 83  Jerry                821 non-null    object
 84  Jess Schneider       821 non-null    object
 85  Jesse Blant          821 non-null    object
 86  Jeremy Poindexter    821 non-null    object
 87  Jeremy Weltmer       821 non-null    object
 88  Jin Lee              821 non-null    object
 89  Jo                   821 non-null    object
 90  Jon Tao              821 non-null    object
 91  Jon                  821 non-null    object
 92  JMT                  821 non-null    object
 93  Juliana              821 non-null    object
 94  Kate                 821 non-null    object
 95  Kealy Fallon         821 non-null    object
 96  Keely Hurd           821 non-null    object
 97  Kelly-Ann Corrigan   821 non-null    object
 98  Ken Yu               821 non-null    object
 99  Kenneth Ng           821 non-null    object
dtypes: object(100)
memory usage: 793.1+ KB

In [22]:
df.iloc[:, 100:].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1015 entries, 0 to 1014
Data columns (total 69 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Kevin Andrade        821 non-null    object
 1   Kobby                821 non-null    object
 2   Kyle Kileen          821 non-null    object
 3   Lee Kennedy-Shafer   821 non-null    object
 4   Libby                821 non-null    object
 5   Lily                 821 non-null    object
 6   Lindsay Davis        821 non-null    object
 7   Lindsay Dow          821 non-null    object
 8   Lindsay Shapiro      821 non-null    object
 9   Matt                 821 non-null    object
 10  Max                  821 non-null    object
 11  Melanie              821 non-null    object
 12  Melanie Berenson     821 non-null    object
 13  Michael Wong         821 non-null    object
 14  Miriam Gordon        821 non-null    object
 15  Miles Dantes         821 non-null    object
 16  Mike Jin             821 non-null    object
 17  Monica               821 non-null    object
 18  Nate Dowlin          821 non-null    object
 19  Nelson Lim           821 non-null    object
 20  Neil Zuckerman       821 non-null    object
 21  Neville Kadwa        821 non-null    object
 22  Nicolas Jeambon      821 non-null    object
 23  Nicole Tutunik       821 non-null    object
 24  Peter Humanik        821 non-null    object
 25  Qi Wei               821 non-null    object
 26  Rahul Anthony        821 non-null    object
 27  Raymond Li           821 non-null    object
 28  Rebecca Sharma       821 non-null    object
 29  Ricky                821 non-null    object
 30  Robyn Bernstein      821 non-null    object
 31  Roger Hurd           821 non-null    object
 32  Rohit Thummalapalli  821 non-null    object
 33  Ronen Kaganer        821 non-null    object
 34  Ryan Aldoroty        821 non-null    object
 35  Sabrina Zhang        821 non-null    object
 36  Sabrina Gonzalez     821 non-null    object
 37  Sadman Shakib        821 non-null    object
 38  Sarah Langsam        821 non-null    object
 39  Sean Fitzsimmons     821 non-null    object
 40  Shunori Rahman       821 non-null    object
 41  Sony Rao             821 non-null    object
 42  Sneha Dontula        821 non-null    object
 43  Stacy Bernstein      821 non-null    object
 44  Stephanie            821 non-null    object
 45  Stephen Leh          821 non-null    object
 46  Stephen Yao          821 non-null    object
 47  Steve Gregory        821 non-null    object
 48  Steven Feit          821 non-null    object
 49  Steven Weiner        821 non-null    object
 50  Tali Shapira         821 non-null    object
 51  Taylor Biblo         821 non-null    object
 52  Ting He              821 non-null    object
 53  Tristian             821 non-null    object
 54  Vinny Del Gercio     821 non-null    object
 55  Vinoad Senguttuvan   821 non-null    object
 56  Vy                   821 non-null    object
 57  Will Kim             821 non-null    object
 58  Yao Bao              821 non-null    object
 59  Yuri Malitsky        821 non-null    object
 60  Zach Rosskamm        821 non-null    object
 61  Avg. Rating          821 non-null    float64
 62  Untapped Rating      821 non-null    object
 63  Standard Deviation   770 non-null    float64
 64  Alcohol Content      818 non-null    object
 65  IBU                  818 non-null    float64
 66  Comments             818 non-null    object
 67  Untappd Id           818 non-null    object
 68  Last Updated         818 non-null    float64
dtypes: float64(4), object(65)
memory usage: 547.3+ KB