# Import Libraries

In [19]:
import pandas as pd

# Obtain Data

Read csv with data into pandas

In [20]:
df = pd.read_excel('Data/Beer_Tastings.xlsx')
df.head()

,Company Name,Beer Type,Beer Name,Location,Beer Slug Name,Aaron Feuer,Alan Eng,Alejandro Torres,Alexa Dosik,Alexander Castleton,...,Unnamed: 303,Unnamed: 304,Unnamed: 305,Unnamed: 306,Unnamed: 307,Unnamed: 308,Unnamed: 309,Unnamed: 310,Unnamed: 311,Unnamed: 312
0,Einstök Ölgerð,Wheat Beer - Witbier,Icelandic White Ale,"Akureyri, Iceland",einstok-olgerd-icelandic-white-ale,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tröegs Independent Brewing,Pilsner - German,Sunshine Pils,"Hershey, PA",troegs-independent-brewing-sunshine-pils,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Goose Island Beer Co.,Wheat Beer - American Pale Wheat,312 Urban Wheat Ale,"Chicago, IL",goose-island-beer-co-312-urban-wheat-ale,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Victory Brewing Company,Pilsner - German,Prima Pils,"Downingtown, PA",victory-brewing-company-prima-pils,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Victory Brewing Company,Golden Ale,Summer Love,"Downingtown, PA",victory-brewing-company-summer-love,...,...,...,...,...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Scrub data

Drop all columns lacking data

In [21]:
df.dropna(axis=1, how='all', inplace=True)
print(df.shape)
df.head()

(1015, 169)

,Company Name,Beer Type,Beer Name,Location,Beer Slug Name,Aaron Feuer,Alan Eng,Alejandro Torres,Alexa Dosik,Alexander Castleton,...,Yuri Malitsky,Zach Rosskamm,Avg. Rating,Untapped Rating,Standard Deviation,Alcohol Content,IBU,Comments,Untappd Id,Last Updated
0,Einstök Ölgerð,Wheat Beer - Witbier,Icelandic White Ale,"Akureyri, Iceland",einstok-olgerd-icelandic-white-ale,...,...,...,...,...,...,...,...,0.735714,0.736046,2.154729,0.052,0.0,"Light, Summery, Hint of Limoncillo Smell, Subt...",103773,1.627409e+12
1,Tröegs Independent Brewing,Pilsner - German,Sunshine Pils,"Hershey, PA",troegs-independent-brewing-sunshine-pils,...,...,...,...,...,...,...,...,0.670000,0.688176,0.447214,0.045,45.0,Sweet at the back of the tongue but bitter / s...,3841,1.627409e+12
2,Goose Island Beer Co.,Wheat Beer - American Pale Wheat,312 Urban Wheat Ale,"Chicago, IL",goose-island-beer-co-312-urban-wheat-ale,...,...,...,...,...,...,...,...,0.660000,0.686472,1.816590,0.042,18.0,"Solid mellow note, lack of distinct flavor, in...",5925,1.627409e+12
3,Victory Brewing Company,Pilsner - German,Prima Pils,"Downingtown, PA",victory-brewing-company-prima-pils,...,...,...,...,...,...,...,...,0.680000,0.690824,1.788854,0.053,43.0,"Mellow peach notes, hoppy, bitter after taste",3820,1.627409e+12
4,Victory Brewing Company,Golden Ale,Summer Love,"Downingtown, PA",victory-brewing-company-summer-love,...,...,...,...,...,...,...,...,0.594444,0.69069,2.098280,0.052,25.0,"Really bitter, especially for a summer ale,",18545,1.627409e+12

Drop all rows without a beer name

In [22]:
df = df[df['Untappd Id'].notna()]
df.tail()

,Company Name,Beer Type,Beer Name,Location,Beer Slug Name,Aaron Feuer,Alan Eng,Alejandro Torres,Alexa Dosik,Alexander Castleton,...,Yuri Malitsky,Zach Rosskamm,Avg. Rating,Untapped Rating,Standard Deviation,Alcohol Content,IBU,Comments,Untappd Id,Last Updated
813,Zero Gravity Craft Brewery,IPA - Imperial / Double,Madonna,"Burlington, VT",zero-gravity-craft-brewery-madonna,...,...,...,...,...,...,...,...,0.683333,0.787462,0.288675,0.08,90.0,...,1492922,1.627406e+12
814,Mainstay Independent Brewing Co.,Hefeweizen,King Laird Weisse,"Philadelphia, PA",mainstay-independent-brewing-co-king-laird-weisse,...,...,...,...,...,...,...,...,0.725000,0.730518,0.353553,0.053,0.0,...,2922851,1.627406e+12
815,Roadhouse Brewing Company,Cream Ale,Family Vacation,"Jackson, WY",roadhouse-brewing-company-family-vacation,...,...,...,...,...,...,...,...,0.450000,0.687796,0.866025,0.049,15.0,...,409513,1.627406e+12
816,Roadhouse Brewing Company,IPA - Session / India Session Ale,Loose Boots IPA,"Jackson, WY",roadhouse-brewing-company-loose-boots-ipa,...,...,...,...,...,...,...,...,0.650000,0.72804,1.414214,0.05,45.0,...,918033,1.627406e+12
817,Mainstay Independent Brewing Co.,Pale Ale - American,Meander Grapefruit Pale Ale,"Philadelphia, PA",mainstay-independent-brewing-co-meander-grapef...,...,...,...,...,...,...,...,...,0.583333,0.703536,0.577350,0.05,0.0,...,3961435,1.627406e+12

Use df.info() to determine what further scrubbing needed

In [23]:
df.iloc[:, 0:100].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 818 entries, 0 to 817
Data columns (total 100 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company Name         818 non-null    object
 1   Beer Type            818 non-null    object
 2   Beer Name            818 non-null    object
 3   Location             818 non-null    object
 4   Beer Slug Name       816 non-null    object
 5   Aaron Feuer          818 non-null    object
 6   Alan Eng             818 non-null    object
 7   Alejandro Torres     818 non-null    object
 8   Alexa Dosik          818 non-null    object
 9   Alexander Castleton  818 non-null    object
 10  Alexis               818 non-null    object
 11  Alla Uts             818 non-null    object
 12  Allie Mandeville     818 non-null    object
 13  Alyssa Kaganer       818 non-null    object
 14  Amanda Trakhtenberg  818 non-null    object
 15  Amar Ramroop         818 non-null    object
 16  Andrew Bernstein     818 non-null    object
 17  Andy Tran            818 non-null    object
 18  Ankush Chadha        818 non-null    object
 19  Anna                 818 non-null    object
 20  Asad Ahmed           818 non-null    object
 21  Ashley Kupferberg    818 non-null    object
 22  Becca Zhou           818 non-null    object
 23  Becky Kason          818 non-null    object
 24  Brent Daniels        818 non-null    object
 25  Brian Abrams         818 non-null    object
 26  Brian Kupferberg     818 non-null    object
 27  Bryan Bardales       818 non-null    object
 28  Camille Newton       818 non-null    object
 29  Carrie Marino        818 non-null    object
 30  Casey Sumner         818 non-null    object
 31  Cipora Reichman      818 non-null    object
 32  Chris                818 non-null    object
 33  Chris Marino         818 non-null    object
 34  Cyndi Chen           818 non-null    object
 35  Dan Adeyanju         818 non-null    object
 36  Daniel Berenson      818 non-null    object
 37  Danielle Waldman     818 non-null    object
 38  Darren Apostolik     818 non-null    object
 39  Dave Hu              818 non-null    object
 40  David Raleche        818 non-null    object
 41  David Yang           818 non-null    object
 42  Deandra Tan          818 non-null    object
 43  Diana                818 non-null    object
 44  Dillon Shokar        818 non-null    object
 45  Dominic Eggerman     818 non-null    object
 46  Dong Won Lee         818 non-null    object
 47  Dori Rhode           818 non-null    object
 48  Eian Katz            818 non-null    object
 49  Eileen Jang          818 non-null    object
 50  Eli Markham          818 non-null    object
 51  Ellen                818 non-null    object
 52  Ethan Zien           818 non-null    object
 53  Eugene Mershon       818 non-null    object
 54  Fabian Biot          818 non-null    object
 55  François Charest     818 non-null    object
 56  Garvin Chen          818 non-null    object
 57  Gordon MacDonald     818 non-null    object
 58  Harry                818 non-null    object
 59  Heidi                818 non-null    object
 60  Henry                818 non-null    object
 61  Hayley Brander       818 non-null    object
 62  Ijlal Hyder          818 non-null    object
 63  Ilya Uts             818 non-null    object
 64  Irina Anta           818 non-null    object
 65  Iris Braunstein      818 non-null    object
 66  Ismail               818 non-null    object
 67  Ivan Yanev           818 non-null    object
 68  Jake Zhang           818 non-null    object
 69  Jake Amatruda        818 non-null    object
 70  Jake Reichman        818 non-null    object
 71  Jamie Freiman        818 non-null    object
 72  Jamie Morris         818 non-null    object
 73  Jason                818 non-null    object
 74  Janni                818 non-null    object
 75  Jason Kuo            818 non-null    object
 76  Jared Bass           818 non-null    object
 77  Jared Helfand        818 non-null    object
 78  Jenn Kim             818 non-null    object
 79  Jenn Shim            818 non-null    object
 80  Jennifer Kong        818 non-null    object
 81  Jenny Kessman        818 non-null    object
 82  Jensen Matlock       818 non-null    object
 83  Jerry                818 non-null    object
 84  Jess Schneider       818 non-null    object
 85  Jesse Blant          818 non-null    object
 86  Jeremy Poindexter    818 non-null    object
 87  Jeremy Weltmer       818 non-null    object
 88  Jin Lee              818 non-null    object
 89  Jo                   818 non-null    object
 90  Jon Tao              818 non-null    object
 91  Jon                  818 non-null    object
 92  JMT                  818 non-null    object
 93  Juliana              818 non-null    object
 94  Kate                 818 non-null    object
 95  Kealy Fallon         818 non-null    object
 96  Keely Hurd           818 non-null    object
 97  Kelly-Ann Corrigan   818 non-null    object
 98  Ken Yu               818 non-null    object
 99  Kenneth Ng           818 non-null    object
dtypes: object(100)
memory usage: 645.5+ KB

In [24]:
df.iloc[:, 100:].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 818 entries, 0 to 817
Data columns (total 69 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Kevin Andrade        818 non-null    object
 1   Kobby                818 non-null    object
 2   Kyle Kileen          818 non-null    object
 3   Lee Kennedy-Shafer   818 non-null    object
 4   Libby                818 non-null    object
 5   Lily                 818 non-null    object
 6   Lindsay Davis        818 non-null    object
 7   Lindsay Dow          818 non-null    object
 8   Lindsay Shapiro      818 non-null    object
 9   Matt                 818 non-null    object
 10  Max                  818 non-null    object
 11  Melanie              818 non-null    object
 12  Melanie Berenson     818 non-null    object
 13  Michael Wong         818 non-null    object
 14  Miriam Gordon        818 non-null    object
 15  Miles Dantes         818 non-null    object
 16  Mike Jin             818 non-null    object
 17  Monica               818 non-null    object
 18  Nate Dowlin          818 non-null    object
 19  Nelson Lim           818 non-null    object
 20  Neil Zuckerman       818 non-null    object
 21  Neville Kadwa        818 non-null    object
 22  Nicolas Jeambon      818 non-null    object
 23  Nicole Tutunik       818 non-null    object
 24  Peter Humanik        818 non-null    object
 25  Qi Wei               818 non-null    object
 26  Rahul Anthony        818 non-null    object
 27  Raymond Li           818 non-null    object
 28  Rebecca Sharma       818 non-null    object
 29  Ricky                818 non-null    object
 30  Robyn Bernstein      818 non-null    object
 31  Roger Hurd           818 non-null    object
 32  Rohit Thummalapalli  818 non-null    object
 33  Ronen Kaganer        818 non-null    object
 34  Ryan Aldoroty        818 non-null    object
 35  Sabrina Zhang        818 non-null    object
 36  Sabrina Gonzalez     818 non-null    object
 37  Sadman Shakib        818 non-null    object
 38  Sarah Langsam        818 non-null    object
 39  Sean Fitzsimmons     818 non-null    object
 40  Shunori Rahman       818 non-null    object
 41  Sony Rao             818 non-null    object
 42  Sneha Dontula        818 non-null    object
 43  Stacy Bernstein      818 non-null    object
 44  Stephanie            818 non-null    object
 45  Stephen Leh          818 non-null    object
 46  Stephen Yao          818 non-null    object
 47  Steve Gregory        818 non-null    object
 48  Steven Feit          818 non-null    object
 49  Steven Weiner        818 non-null    object
 50  Tali Shapira         818 non-null    object
 51  Taylor Biblo         818 non-null    object
 52  Ting He              818 non-null    object
 53  Tristian             818 non-null    object
 54  Vinny Del Gercio     818 non-null    object
 55  Vinoad Senguttuvan   818 non-null    object
 56  Vy                   818 non-null    object
 57  Will Kim             818 non-null    object
 58  Yao Bao              818 non-null    object
 59  Yuri Malitsky        818 non-null    object
 60  Zach Rosskamm        818 non-null    object
 61  Avg. Rating          818 non-null    float64
 62  Untapped Rating      818 non-null    object
 63  Standard Deviation   770 non-null    float64
 64  Alcohol Content      818 non-null    object
 65  IBU                  818 non-null    float64
 66  Comments             818 non-null    object
 67  Untappd Id           818 non-null    object
 68  Last Updated         818 non-null    float64
dtypes: float64(4), object(65)
memory usage: 447.3+ KB

In [25]:
missing_id_indexes = list(df[df['Untappd Id']=='SKIP'].index)
for num, missing_id in enumerate(missing_id_indexes):
    while str(num) in ([item for item in list(df['Untappd Id']) if item != 'SKIP']):
        num += 1
    df.loc[missing_id, 'Untappd Id'] = num
df.iloc[missing_id_indexes]

,Company Name,Beer Type,Beer Name,Location,Beer Slug Name,Aaron Feuer,Alan Eng,Alejandro Torres,Alexa Dosik,Alexander Castleton,...,Yuri Malitsky,Zach Rosskamm,Avg. Rating,Untapped Rating,Standard Deviation,Alcohol Content,IBU,Comments,Untappd Id,Last Updated
173,Neville Kadwa's Garage,Fruit Beer,Steroid Apple Cider (Batch II),"Livingston, NJ",NaN,...,...,...,...,...,...,...,...,0.575000,---,1.844662,0.11,0.0,---,0,1.000000e+14
278,Neville Kadwa's Garage,Fruit Beer,Steroid Apple Cider (Batch IV),"Livingston, NJ",NaN,...,...,...,...,...,...,...,...,0.672727,---,1.633457,0.11,0.0,---,1,1.000000e+14

Drop all columns not in 'user item rating timestamp' features used for recommender systems in surprise

In [27]:
drop_columns = list(df.iloc[:, 0:5].columns)
drop_columns.extend(list(df.iloc[:, -8:].columns))
keep_columns = ['Last Updated', 'Untappd Id']
for keep_col in keep_columns:
    drop_columns.remove(keep_col)
df.drop(columns=drop_columns, inplace=True)
df.head()

,Aaron Feuer,Alan Eng,Alejandro Torres,Alexa Dosik,Alexander Castleton,Alexis,Alla Uts,Allie Mandeville,Alyssa Kaganer,Amanda Trakhtenberg,...,Tristian,Vinny Del Gercio,Vinoad Senguttuvan,Vy,Will Kim,Yao Bao,Yuri Malitsky,Zach Rosskamm,Untappd Id,Last Updated
0,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,103773,1.627409e+12
1,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,3841,1.627409e+12
2,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,5925,1.627409e+12
3,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,3820,1.627409e+12
4,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,18545,1.627409e+12

Melt df to 'user item rating timestamp' columns format

In [31]:
value_vars = list(df.iloc[:, :-2])
df.melt(id_vars=['Untappd Id'], value_vars=value_vars)

       Untappd Id       variable value
0          103773    Aaron Feuer   ...
1            3841    Aaron Feuer   ...
2            5925    Aaron Feuer   ...
3            3820    Aaron Feuer   ...
4           18545    Aaron Feuer   ...
...           ...            ...   ...
127603    1492922  Zach Rosskamm   ...
127604    2922851  Zach Rosskamm   ...
127605     409513  Zach Rosskamm   ...
127606     918033  Zach Rosskamm   ...
127607    3961435  Zach Rosskamm   ...

[127608 rows x 3 columns]

In [29]:
df.groupby(by='Untappd Id', axis=0).first().reset_index()['Untappd Id'].value_counts().sort_values()

2656256    1
3907639    1
1546290    1
2          1
4227075    1
          ..
1316853    1
2922851    1
2238458    1
487396     1
3069951    1
Name: Untappd Id, Length: 817, dtype: int64

In [30]:
df['Untappd Id'].value_counts()

SKIP       2
2656256    1
3309377    1
5465       1
912731     1
          ..
1307321    1
10947      1
3994309    1
3109574    1
3069951    1
Name: Untappd Id, Length: 817, dtype: int64